{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="border p-5 my-5 col-lg-6 opacity-bg"  action="." method="post">
          <p class="h4 mb-4">Forgotten your password?</p>
          <p>Enter your e-mail address to obtain a new password.</p>
          {{ form.as_p }}
          {% csrf_token %}
          <input class="btn btn-outline-primary my-4 btn-block" type="submit" value="Send e-mail">
        </form>
    </div>
</div>

{% endblock %}