*{
  box-sizing: border-box;
  outline: none;
}
main{

/*https://picsum.photos/800/600*/
  background-image: url(https://i.picsum.photos/id/119/3264/2176.jpg?hmac=PYRYBOGQhlUm6wS94EkpN8dTIC7-2GniC3pqOt6CpNU);
  /*background: #0250c5;*/
  /*background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);*/
  /*background: -o-linear-gradient(bottom, #0250c5, #d43f8d);*/
  /*background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);*/
  /*background: linear-gradient(bottom, #0250c5, #d43f8d);*/
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.calendar {
  background-image: url(https://i.picsum.photos/id/119/3264/2176.jpg?hmac=PYRYBOGQhlUm6wS94EkpN8dTIC7-2GniC3pqOt6CpNU);
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.opacity-bg{
  border: 1px solid rgba(0,0,0,.25);
  background: rgba(255,255,255,.90);
  border-radius: 12px;
}

.about-me{
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.dropdown{
  display: none;
}