{% extends "base.html" %}

{% block title %} {{ workout.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="border p-5 my-5 col-lg-6 opacity-bg">
            <nav class="navbar-expand">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "training:workouts" %}">All workouts</a>
                    </li>
                    <li class="nav-item">
                        {% if perms.training.change_workout %}
                            <a class="nav-link" href="{% url "training:update_workout" workout.id %}">Update</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if perms.training.delete_workout %}
                        <a class="nav-link" href="{% url "training:delete_workout" workout.id %}">Delete</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>

            <h1>{{ workout.title }}</h1>
            <p>{{ workout.workout_body|linebreaks }}</p>
            <p>{% for comment in workout.comments.all %}</p>
            <p>Comment #{{ forloop.counter }} by {{ comment.name }}</p>
            <p>{{ comment.body }}</p>
            {% empty %}
                No comments
            {% endfor %}
            <a class="open-dropdown btn btn-outline-primary mx-2" href="#"><span>Open</span> Comment Form</a>
            <div class="dropdown my-4">
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="btn btn-outline-primary" type="submit" value="Add Comment">
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    jQuery(document).on('click', '.open-dropdown', function(){
        let $btn = jQuery(this);
        $('.dropdown').slideToggle('fast', function(){
            $btn.find('span').text(jQuery(this).is(':visible') ? 'Hide' : 'Open')
        })
    })
</script>

{% endblock %}
