{% extends 'base.html' %}

{% block title %} Person profile {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
           <div class="border p-5 my-5 opacity-bg">
                <p>birthday:{{ user.profile.birth }}</p>
                <p>Name: {{ user.first_name|add:user.last_name }}</p>
                <p>Height: {{ user.profile.height }}</p>
                <p>Weight: {{ user.profile.weight }}</p>
                <p>Chest volume: {{ user.profile.chest_volume }}</p>
                <p>Waist: {{ user.profile.waist }}</p>
                <p>Arm volume: {{ user.profile.arm_volume }}</p>
                <p>Hip volume: {{ user.profile.hip_volume }}</p>
           </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="border p-5 my-5 opacity-bg">
                <h1>Hello {{ request.user.username }}</h1>
                {% if user.profile.photo %}
                    <p><img src="{{ user.profile.photo.url }}" alt = "Photo"></p>
                {% endif %}
            </div>
            <div class="d-flex flex-row-reverse">

                <a class="btn btn-secondary btn-lg" href="{% url 'training:workouts' %}">Workouts</a>
            </div>
            <br>
            <div class="d-flex flex-row-reverse">
                {% if perms.training.change_workout %}
                <a class="btn btn-secondary btn-lg" href="{% url 'training:users' %}">Clients</a>
                {% endif %}
            </div>
        </div>


    </div>
</div>
{% endblock %}

