{% extends 'base.html' %}

{% block title %}
  Update workout
{% endblock %}

{% block content %}
    <div class="container ml-6">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1>Update workout</h1>
                <form method="post" class="form-group col-md-12">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">Update workout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
