{% extends "base.html" %}

{% block title %} Person profile {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="border p-5 my-5 opacity-bg">
                <p>birthday:{{ profile.birth }}</p>
                <p>Name: {{ profile.user }}</p>
                <p>Height: {{ profile.height }}</p>
                <p>Weight: {{ profile.weight }}</p>
                <p>Chest volume: {{ profile.chest_volume }}</p>
                <p>Waist: {{ profile.waist }}</p>
                <p>Arm volume: {{ profile.arm_volume }}</p>
                <p>Hip volume: {{ profile.hip_volume }}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="border p-5 my-5 opacity-bg">
                    <h1>Personal Best</h1>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-secondary btn-lg" href="{% url "training:personal_workouts" profile.id%}">Workouts</a>
                </div>
                <br>
{#                <div class="d-flex flex-row-reverse">#}
{#                    <a class="btn btn-secondary btn-lg" href="/clients/">Clients</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}